{
  "env": {
    "node": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "semi": "error",
    "require-atomic-updates": "off",
    "no-unused-vars": ["error", {
      "ignoreRestSiblings": true
    }]
  }
}
